.green {color: #39b54a;}
.green-b {background-color: #39b54a;}
.white {color: white;}
.white-b {background-color: white; }
.black-black {color: black;}
.black-b {background-color: black; }
.cendre-b {background-color: #e6e6e6;}
.cendre {color:#757575;}
.black {background-color: rgba(0,0,0,.6)}
.black-b {background-color: black;}
.darkred{color: #c30047; }
.darkred-b {background-color: #c30047;}
.whiteable {color: rgba(255, 255, 255, .7); }
.cen {color:#706c6c ; }
.cendrered {background-color: #301a22;}